# Bytecode and cache
__pycache__/
*.pyc

# Environments
.env*
.venv/
env/
venv/

# OS and IDE
.DS_Store
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# Data files
*.jsonl
*.parquet
*.csv
*.log
*.zip
*.tar
*.gz
*.tmp

# Project folders
input/
output/
batch_files/
batch_prepared/
alpaca_data/

# Hugging Face cache
.cache/huggingface/

unsloth_compiled_cache/